<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/6f9467b055.js" crossorigin="anonymous"></script>
</head>
<body>

    <header id="top">
       
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="about">ABOUT</a></li>
                <li><a href="">MUSIC </a></li>
                <li><a href="">CONTACT</a></li>
            
        </nav>
        <ul>
            
            <li><a href=""><i class="fa-brands fa-twitter fa-sm" style="color: #0a0a0a;"></i></a></li>
                    <li><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-facebook fa-sm" style="color: #030305;"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-spotify fa-sm" style="color: #0a0e16;"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-apple fa-sm" style="color: #121212;"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-amazon fa-sm" style="color: #000206;"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-instagram fa-sm" style="color: #06080c;"></i></a></li>
        
               </ul>
                <h1>CONTACT //</h1>
                <h3>we are here</h3>

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d797773.296338194!2d-0.3480089221553765!3d51.68893039487633!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondres%2C%20Reino%20Unido!5e0!3m2!1ses-419!2sar!4v1697134189220!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>  
        
                <h2>CONTACT INFO</h2>
                <article>
                <h5>- MANAGEMENT | Karen Blanche</h5>
                <a href="mailto: info@mysite.com"> email:info@mysite.com <a/><br> 
                <a href="tel:1234567890">phone: 123-456-7890</a>
                </article>
                <article>  
                    <h5>BOOKING | Daniel Ku</h5>
                    <a href="mailto:info@mysite.com">email:info@mysite.com</a><br>
                    <a href="tel:1234567890">phone: 123-456-7890</a>
                </article>
                <Article>
                <h5>LABEL | Wix Records, JakeColdman</h5>
                <a href="mailto:info@mysite.com">email:info@mysite.com</a><br>
                <a href="tel:1234567890">phone: 123-456-7890</a>  
                </Article>
                <article>
                    <h5>PR | That Girl Pr, Sarah Brookstone</h5>
                    <a href="mailto:info@mysite.com">email:info@mysite.com</a><br>
                    <a href="tel:1234567890">phone: 123-456-7890</a>  
                </article>
            </body>
            </html>
           

               

            
            
    
