<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
    <link rel="stylesheet" href="/css/contact.css">
    <script src="https://kit.fontawesome.com/6f9467b055.js" crossorigin="anonymous"></script>
</head
<body>

    <header class="top">
    
        <nav>
            <ul class="nav type=none"> 
                <li><a href="/">HOME</a></li>
                <li><a href="about">ABOUT</a></li>
                <li><a href="">MUSIC </a></li>
                <li><a href="">CONTACT</a></li>
            </nav>
            <ul type="none">
                
                <li><a href="https://twitter.com/"><i class="fa-brands fa-twitter fa-sm" style="color: #0a0a0a;"></i></a></li>
            <li><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook fa-sm" style="color: #030305;"></i></a></li>
            <li><a href="https://accounts.spotify.com/"><i class="fa-brands fa-spotify fa-sm" style="color: #0a0e16;"></i></a></li>
            <li><a href="https://www.apple.com/"><i class="fa-brands fa-apple fa-sm" style="color: #121212;"></i></a></li>
            <li><a href="https://www.amazon.com/"><i class="fa-brands fa-amazon fa-sm" style="color: #000206;"></i></a></li>
            <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram fa-sm" style="color: #06080c;"></i></a></li>
            
                   </ul>
                <h1>CONTACT //</h1>
                <h3 id="subtitulo1">we are here</h3>

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d797773.296338194!2d-0.3480089221553765!3d51.68893039487633!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondres%2C%20Reino%20Unido!5e0!3m2!1ses-419!2sar!4v1697134189220!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>  
        <article>
                <h2>CONTACT INFO</h2>
                <h3>- MANAGEMENT | Karen Blanche</h3>
               <h5> <a href="mailto: info@mysite.com"> email:info@mysite.com<a><br> 
                    <a href="https:/wa.me//1125771022"> phone: 1125771022</a> </h3>
            </article>
            </header>
          
           <h3>BOOKING | Daniel Ku</h3>
             <h5>email: info@mysite.com <br> phone: 123-456-7890</h5>

            <h3>LABEL | Wix Records, Jake
                Coldman</h3>
            <h5> email: info@mysite.com <br>phone: 123-456-7890</h5>

            <h3>PR | That Girl Pr, Sarah Brookstone</h3>
            <h5>email:
                info@mysite.com <br> phone: 123-456-7890</h5>


                

                 <h3> PR | That Girl Pr, Sarah Brookstone</h3>
            <h5>email:
                <a>info@mysite.com <br> phone: 123-456-7890</h5></a>
    
</body>
</html>